## Prepare LR Data For Name Classification

In [1]:
import pandas as pd

In [2]:
lr = pd.read_csv("../input/landrecords_deduped.csv", low_memory=False)

In [3]:
lr.head()

,name_of_ryot,name_of_father,residence,caste,revenue_unit,district,division,mouza,account_no,link,...,5,6,7,8,9,10,11,12,13,14
0,मुसमात देवकी ओझा,पति उचीत लाल,"जमुआ,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000008,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,NaN,8.0,52.5,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]"
1,म.तजमुल हुसैन,शे.वेचनअली,"दहगामा,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000003,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,NaN,0.0,56.0,0.0,NaN,6.0,0.0,NaN,NaN,"[""कायमी"", """"]"
2,धर्मानाथ झा,मनोचीत झा,"पोठीया,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000010,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]"
3,बेधानन्द झा,देवानन्द झा,"पोठीया,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000014,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]"
4,वसोधर झा,भुप लाल झा,"रामनगर,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000019,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]"

In [4]:
# father's last name
lr['last_fat'] = lr['name_of_father'].apply(lambda x: x if pd.isnull(x) else x.split(" ")[-1])

In [5]:
lr.head()

,name_of_ryot,name_of_father,residence,caste,revenue_unit,district,division,mouza,account_no,link,...,6,7,8,9,10,11,12,13,14,last_fat
0,मुसमात देवकी ओझा,पति उचीत लाल,"जमुआ,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000008,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,8.0,52.5,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]",लाल
1,म.तजमुल हुसैन,शे.वेचनअली,"दहगामा,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000003,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,0.0,56.0,0.0,NaN,6.0,0.0,NaN,NaN,"[""कायमी"", """"]",शे.वेचनअली
2,धर्मानाथ झा,मनोचीत झा,"पोठीया,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000010,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]",झा
3,बेधानन्द झा,देवानन्द झा,"पोठीया,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000014,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]",झा
4,वसोधर झा,भुप लाल झा,"रामनगर,,,",NaN,168,अररिया,अररिया,फुलवाड़ी,701010001000019,http://lrc.bih.nic.in/ViewRoRReportNew.aspx?SI...,...,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,"[""कायमी"", """"]",झा

## Join to caste codes + Produce unjoined castes

In [8]:
# import caste codes
cc = pd.read_stata("../input/caste_codes/caste_code_landrecords.dta")
cc.head()

,caste_landrecords,count,caste_translit,caste_standard,caste_name,caste_code,caste_category,bihar_district_code,muslim,dup_caste_name,m_cc
0,यादव,4502696,yadava,yadav,yadav,bc-2/022,bc2,,0,0,Matched (3)
1,राजपुत,2152456,rajaputa,rajput,rajput,uc-0/003,uc,,0,0,Matched (3)
2,ब्राह्मण,1294009,brahmana,brahmin,brahmin,uc-0/001,uc,,0,0,Matched (3)
3,कुर्मी,1226257,kurmī,kurmi,kurmi,bc-2/035,bc2,,0,0,Matched (3)
4,शेख,1040504,sekha,sheikh,sheikh,uc-0/006,uc,,1,0,Matched (3)

In [9]:
print(cc.shape)
cc = cc.drop_duplicates(subset=['caste_landrecords'])
print(cc.shape)

(3668, 11)
(3624, 11)

In [10]:
lr_cc = pd.merge(lr, cc, how = "left", left_on = "caste", right_on = "caste_landrecords")
print(lr.shape, lr_cc.shape)

(12127297, 25) (12127297, 36)

In [11]:
list(lr_cc)

['name_of_ryot',
 'name_of_father',
 'residence',
 'caste',
 'revenue_unit',
 'district',
 'division',
 'mouza',
 'account_no',
 'link',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 'last_fat',
 'caste_landrecords',
 'count',
 'caste_translit',
 'caste_standard',
 'caste_name',
 'caste_code',
 'caste_category',
 'bihar_district_code',
 'muslim',
 'dup_caste_name',
 'm_cc']

In [12]:
lr_cc['muslim'].value_counts()

0.0    6325685
1.0     528402
9.0     282201
Name: muslim, dtype: int64

In [13]:
lr_cc_muslim = lr_cc.dropna(subset =['muslim'])

In [14]:
lc_cc_muslim_subset = lr_cc_muslim[['name_of_ryot', 'name_of_father', 'caste_name', 'caste_category', 'muslim']]
lc_cc_muslim_subset_dedupe = lc_cc_muslim_subset.drop_duplicates()

In [15]:
print(lc_cc_muslim_subset.shape)
lc_cc_muslim_subset_dedupe.shape

(7136288, 5)

(6020018, 5)

In [16]:
# Long data + dedupe
lc_1 = lc_cc_muslim_subset_dedupe[['name_of_father', 'caste_name', 'caste_category', 'muslim']].rename(columns={"name_of_father": "name"})
lc_2 = lc_cc_muslim_subset_dedupe[['name_of_ryot', 'caste_name', 'caste_category', 'muslim']].rename(columns={"name_of_ryot": "name"})
lc_all = pd.concat([lc_1, lc_2]).dropna(subset =['name']).drop_duplicates()

In [17]:
lc_all[['name', 'caste_name', 'caste_category', 'muslim']].head()

                  name caste_name caste_category  muslim
597        कृष्णमनी झा    brahmin             uc     0.0
701  पति परमानन्द मंडल      kevat            ebc     0.0
776          डोमन मंडल      kevat            ebc     0.0
778        गुनानन्द झा    brahmin             uc     0.0
786     मुकुन्द लाल झा    brahmin             uc     0.0

In [18]:
lc_all.shape[0]

4352593

In [19]:
lc_all.to_csv("../output/bihar_lr_caste_muslim.csv")